{% extends 'layouts/page.njk' %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      {{ govukWarningText({
        text: "Rotating " + modelNamesText + " creates a new secret and immediately stops the old one working. Any application still using the old secret will fail until it is updated.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukRadios({
          idPrefix: "confirmRevoke",
          name: "confirmRevoke",
          fieldset: {
            legend: {
              text: "Are you sure you want to rotate this credential?"
            }
          },
          errorMessage: fieldErrors.confirmRevoke,
          items: [
            { value: "yes", text: "Yes, rotate this credential" },
            { value: "no", text: "No, take me back to Manage AI access" }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
