{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({ text: "Back", href: "/models" }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      {% if modelDisplayName %}
        <p class="govuk-body">
          You are connecting to {{ modelDisplayName }}.
          <a class="govuk-link" href="/models/{{ modelSlug }}">Change model</a>
        </p>
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        <input type="hidden" name="modelSlug" value="{{ modelSlug }}">

        {{ govukRadios({
          idPrefix: "accessType",
          name: "accessType",
          fieldset: {
            legend: {
              text: heading,
              classes: "govuk-visually-hidden"
            }
          },
          errorMessage: fieldErrors.accessType,
          items: accessTypeItems
        }) }}

        <p class="govuk-body">
          Not sure? Start with research access. You can move to a team key later and keep the same sign-in.
        </p>

        {{ govukButton({ text: "Continue" if signedIn else "Please sign in to continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}

