{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        <input type="hidden" name="modelSlug" value="{{ modelSlug }}">

        {{ govukRadios({
          idPrefix: "accessType",
          name: "accessType",
          fieldset: {
            legend: {
              text: "What kind of access do you need?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: fieldErrors.accessType,
          items: accessTypeItems
        }) }}

        {{ govukButton({ text: "Continue" if signedIn else "Please sign in to continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
