{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set curlHtml %}<pre class="govuk-body app-code-examples__pre" data-testid="code-examples-curl"><code>curl {{ params.endpoint }} \
  -H "Ocp-Apim-Subscription-Key: {{ params.secretPlaceholder }}" \
  -H "Content-Type: application/json" \
  -d '{"messages": [{"role": "user", "content": "Hello"}]}'</code></pre>{% endset %}

{% set pythonHtml %}<pre class="govuk-body app-code-examples__pre" data-testid="code-examples-python"><code>import requests

response = requests.post(
    "{{ params.endpoint }}",
    headers={"Ocp-Apim-Subscription-Key": "{{ params.secretPlaceholder }}"},
    json={"messages": [{"role": "user", "content": "Hello"}]},
)</code></pre>{% endset %}

{% set javascriptHtml %}<pre class="govuk-body app-code-examples__pre" data-testid="code-examples-javascript"><code>await fetch("{{ params.endpoint }}", {
  method: "POST",
  headers: {
    "Ocp-Apim-Subscription-Key": "{{ params.secretPlaceholder }}",
    "Content-Type": "application/json"
  },
  body: JSON.stringify({ messages: [{ role: "user", content: "Hello" }] })
})</code></pre>{% endset %}

<div class="app-code-examples" data-testid="code-examples">
  {{ govukTabs({
    idPrefix: "code-examples",
    items: [
      { label: "curl", id: "code-examples-curl", panel: { html: curlHtml } },
      { label: "Python", id: "code-examples-python", panel: { html: pythonHtml } },
      { label: "JavaScript", id: "code-examples-javascript", panel: { html: javascriptHtml } }
    ]
  }) }}
</div>
