{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukRadios({
          idPrefix: "teamId",
          name: "teamId",
          fieldset: {
            legend: {
              text: "Which team is this for?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: fieldErrors.teamId,
          items: teamItems
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/teams/new?returnTo=%2Fconnect%2Fteam%2Fselect">Create a new team</a>
      </p>
    </div>
  </div>
{% endblock %}
