{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({ text: "Back", href: "/connect/shared/details" }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorMessage }]
        }) }}
      {% endif %}

      {{ govukSummaryList({ rows: summaryRows }) }}

      {{ govukWarningText({
        text: "Your key is shown once. Have somewhere ready to copy it to.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukButton({ text: "Confirm and get my key" }) }}

        {% if errorAction %}
          <p class="govuk-body">
            <a class="govuk-link" href="/manage">Manage your credentials</a>
          </p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}

