<div class="app-button-group" data-testid="credential-actions">
  <a class="govuk-link app-link--view" href="/manage/credentials/{{ params.credential._id }}" data-testid="credential-action-view">View</a>

  {% if params.showRenewRevoke and params.credential.status != "revoked" %}
    {% if params.credential.renewalsRemaining > 0 %}
      <form method="post" action="/manage/credentials/{{ params.credential._id }}/renew" novalidate class="app-button-group__form">
        <input type="hidden" name="crumb" value="{{ params.crumb }}">
        <button type="submit" class="govuk-link app-link-button app-button--loading-on-submit" data-testid="credential-action-renew">Renew</button>
      </form>
    {% endif %}

    <a class="govuk-link app-link--revoke" href="/manage/credentials/{{ params.credential._id }}/revoke" data-testid="credential-action-revoke">Revoke</a>
  {% endif %}

  {% if params.credential.showRotateRevoke and params.credential.status != "revoked" %}
    <a class="govuk-link app-link--rotate" href="/manage/credentials/{{ params.credential._id }}/rotate" data-testid="credential-action-rotate">Rotate</a>

    <a class="govuk-link app-link--revoke" href="/manage/credentials/{{ params.credential._id }}/revoke" data-testid="credential-action-revoke">Revoke</a>
  {% endif %}
</div>

