{% extends 'layouts/page.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Connection created",
        text: model.displayName + " is ready to use"
      }) }}

      {{ govukWarningText({
        text: "This is the only time your subscription key will be shown. Copy it now and store it securely.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Subscription key" },
            value: { text: secret }
          },
          {
            key: { text: "Endpoint" },
            value: { text: model.endpoint }
          },
          {
            key: { text: "Deployment name" },
            value: { text: model.deploymentName }
          },
          {
            key: { text: "API version" },
            value: { text: model.apiVersion }
          },
          {
            key: { text: "Rate limit" },
            value: { text: model.limits.requestsPerMinute ~ " requests per minute" }
          },
          {
            key: { text: "Resource type" },
            value: { text: "Mock API" }
          },
          {
            key: { text: "Expires" },
            value: { text: credential.expiresAt }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Example request</h2>
      <pre class="govuk-body"><code>curl {{ model.endpoint }} \
  -H "Ocp-Apim-Subscription-Key: {{ secret }}" \
  -H "Content-Type: application/json" \
  -d '{"messages": [{"role": "user", "content": "Hello"}]}'</code></pre>

      <p class="govuk-body">
        <a class="govuk-link" href="/connect-model">Connect to another model</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="/account">Manage your credentials</a>
      </p>
    </div>
  </div>
{% endblock %}
